@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>mã sinh viên:</p>
    <p>Họ và Tên:</p>
    <p>Email:</p>
    <p>Điện thoại:</p>
    <p>Địa chỉ:</p>
    <p>Ảnh đại diện:</p>
    <p>Ngày sinh:</p>
    <p>Giới tính:</p>
    <p>Mật Khẩu:</p>
    <p>Link facebook:</p>
</div>
