@model NhdLesson04.Models.NhdBook

@{
    ViewData["Title"] = "Sửa thông tin sách";
}

<h2>Sửa thông tin sách</h2>

<form asp-action="NhdEditSubmit" method="post">
    <input type="hidden" asp-for="NhdId" />

    <div>
        <label>Tiêu đề</label>
        <input asp-for="NhdTitle" class="form-control" />
    </div>
    <div>
        <label>Mô tả</label>
        <textarea asp-for="NhdDescription" class="form-control"></textarea>
    </div>
    <div>
        <label>Ảnh (đường dẫn)</label>
        <input asp-for="NhdImage" class="form-control" />
    </div>
    <div>
        <label>Giá</label>
        <input asp-for="NhdPrice" class="form-control" />
    </div>
    <div>
        <label>Số trang</label>
        <input asp-for="NhdPage" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Lưu thay đổi</button>
</form>
