@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>mã sinh viên:</p>
    <p>Họ và Tên:</p>
    <p>Ngày sinh:</p>
    <p>Email:</p>
    <p>Điện thoại:</p>
    <p>Lớp: K23CNT3</p>
</div>



